@font-face {
    font-family:'Roboto';
    font-weight:400;
    font-style: normal;
    src:local('Roboto-Regular'),
        url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Regular.ttf') format('ttf');
    font-display: swap;    
}
@font-face {
    font-family:'Roboto';
    font-weight: 500;
    font-style: normal;
    src:local('Roboto-Medium'),
        url('../fonts/Roboto/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Medium.ttf') format('ttf');
    font-display: swap;
}

*{
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: 400;
}
html, body{
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
}
.bg-grey {
    background-color: #EEEFF1;
}
.container {
    max-width: 1110px;
    margin:0 auto; 
}
ul{
    margin: 0;
    padding: 80px 0 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
  
    
}
li:first-child{
    color: #34547A;
}
ul li{
    display: inline-block;
    margin-right: 42px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
h1{
    font-weight: 500;
    font-size: 48px;
    margin-top: 151px;
    margin-bottom: 60px;
}
.menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #34547A;
}
.btn {
    background-color: #34547A;
    border: none;
    padding: 20px 40px;
    color: white;
    padding: 20px 40px;
    margin-bottom: 160px;
    margin-top: 65px;
}
.max-wd-540{
    max-width: 540px;
    color: #727272;
}
.bg-light-grey{
    background-color: #FFFFFF;
}
h2{
    font-weight: 500;
    font-size: 32px;
    line-height: 37.5px;
    text-align: center;
    padding-top: 112px;
}
.center{
    margin: auto;
    width: 540px;
    padding-top: 50px;
    padding-bottom: 100px;
    line-height: 26.25px;
}
.project{
    background-color: #34547A;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 20px;
}

.bg-white{
    background-color: #EEEFF1;
}



.play{
    text-align: center;
    padding-bottom: 100px;
    
}
.floor{
    background-color:  #34547A;
    padding-top: 50px;
    padding-bottom: 50px;
}
.blue{
    color: white;
    margin:0 auto;
    max-width: 1100px;
    margin:0 auto;
}

h3{
    font-weight: 500;
    font-size: 21px;
    line-height: 24,61px;

    
}
.low{
    font-size: 13px;
    line-height: 21,33px;
    }